<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">               
                <div class="card">
                    <div class="card-header">
                        <center><h4 class="card-title"></h4></center>
                    </div>
                    <h5 class="alert-info">
                        Um link para alteração da sua senha foi enviado, por favor verifique seu e-mail.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
