@model GestaoFluxoFinanceiro.Aplicacao.ViewModels.Acesso.ForgotPasswordModel

<link href="~/layoutSite/css/login.css" rel="stylesheet" />

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <vc:Summary></vc:Summary>
                <div class="card">
                    <div class="card-header">
                        <center><h4 class="card-title">Esqueceu sua senha?</h4></center>
                    </div>
                    <form asp-action="ForgotPassword" class="form-signin">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enviar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
