@model GestaoFluxoFinanceiro.Aplicacao.ViewModels.Acesso.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<link href="~/layoutSite/css/login.css" rel="stylesheet" />

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <vc:Summary></vc:Summary>
                <div class="card">
                    <div class="card-header">
                        <center><h4 class="card-title">Seja bem-vindo(a)</h4></center>
                    </div>
                    <form asp-action="Login" class="form-signin">
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="User"></label>
                                <input asp-for="User" class="form-control" />
                                <span asp-validation-for="User" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <hr />
                            <p><a asp-controller="Account" asp-action="ForgotPassword">Esqueceu sua senha?</a></p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>&nbsp;&nbsp;
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
