@model GestaoFluxoFinanceiro.Aplicacao.ViewModels.Financeiro.CaixaViewModel
@{
    ViewData["Title"] = "Novo Caixa";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="Create">
                                    <vc:Summary></vc:Summary>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="Competencia" class="control-label"></label>
                                                    <select asp-for="Competencia" class="form-control">
                                                        <option></option>
                                                        <option value="01">Janeiro</option>
                                                        <option value="02">Fevereiro</option>
                                                        <option value="03">Março</option>
                                                        <option value="04">Abril</option>
                                                        <option value="05">Maio</option>
                                                        <option value="06">Junho</option>
                                                        <option value="07">Julho</option>
                                                        <option value="08">Agosto</option>
                                                        <option value="09">Setembro</option>
                                                        <option value="10">Outubro</option>
                                                        <option value="11">Novembro</option>
                                                        <option value="12">Dezembro</option>
                                                    </select>
                                                    <span asp-validation-for="Competencia" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="Observacao" class="control-label"></label>
                                                    <textarea asp-for="Observacao" rows="3" class="form-control"></textarea>
                                                    <span asp-validation-for="Observacao" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-success">Salvar</button>
                                                <a class="btn btn-info" href="@Url.Action("Index","Financeiro")">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}