@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="container-fluid">
        <div id="mainSlide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mainSlide" data-slide-to="0" class="active"></li>
                <li data-target="#mainSlide" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="home_slider_background"
                         style="background-image: linear-gradient(180deg, #0064b2,  #004e92);"></div>
                    <div class="home_slider_content">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <h1 class="home_slider_title" style="color: #fff">Clinica Físion</h1>
                                    <h2 class="home_slider_subtitle" style="color: #e2e2e2">
                                        Fisioterapia e Pilates
                                        Tradicional
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="home_slider_background"
                         style="background-image: linear-gradient(180deg, #0064b2,  #004e92);"></div>
                    <div class="home_slider_content">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <h1 class="home_slider_title" style="color: #fff">Clinica Físion</h1>
                                    <h2 class="home_slider_subtitle" style="color: #e2e2e2">
                                        Fisioterapia e Pilates
                                        Tradicional
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#mainSlide" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" arial-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a href="#mainSlide" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" arial-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <div class="row features_row">
                <div class="col-12">
                    <h3 class="main-title">Serviços</h3>
                </div>
                <div class="col-lg-4 feature_col">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon"><img src="~/layoutSite/icones/pilates.png" alt="Aprenda na Prática!"></div>
                        <h3 class="feature_title">Pilates Tradicional</h3>
                        <div class="feature_text">
                            <p>Aulas todo dia, seguindo os melhores programas de exercicios!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 feature_col">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon">
                            <img src="~/layoutSite/icones/fisioterapia.png" alt="fisioterapeuta">
                        </div>
                        <h3 class="feature_title">Fisioterapia Estética</h3>
                        <div class="feature_text">
                            <p>Algo aqui sobre fisioterapia</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 feature_col">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon"><img src="~/layoutSite/icones/acupuntura.png" alt="acunputura"></div>
                        <h3 class="feature_title"> Acupuntura</h3>
                        <div class="feature_text">
                            <p>algo aqui sobre isso</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row features_row">
                <div class="col-lg-4 feature_col">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon">
                            <img src="~/layoutSite/icones/postura.png" alt="rpg">
                        </div>
                        <h3 class="feature_title"> ATM/DTM e RPG</h3>
                        <div class="feature_text">
                            <p>algo aqui sobre isso</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 feature_col">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon">
                            <img src="~/layoutSite/icones/nutricao.png" alt="nutricionistas">
                        </div>
                        <h3 class="feature_title">Nutrição</h3>
                        <div class="feature_text">
                            <p>algo aqui sobre isso</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 feature_col">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon">
                            <img src="~/layoutSite/icones/psicologia.png" alt="psicologos">
                        </div>
                        <h3 class="feature_title">Psicologia</h3>
                        <div class="feature_text">
                            <p>algo aqui sobre isso</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="main-title">Sobre a Físion</h3>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="~/layoutSite/imagens/turma.jpg" alt="fision">
                    <br />
                    <br />

                </div>
                <div class="col-md-6">
                    <h3 class="about-title">Uma empresa que pensa em você</h3><br />
                                                                              <p>
                                                                                  Há mais de cinco anos em Feira de Santana,
                                                                                  a Físion dedica-se integralmente à melhoria e manutenção da saúde
                                                                                  de seus clientes, através do ensino e treinamento do método Pilates,
                                                                                  associado a um planejamento criterioso e individualizado de exercícios
                                                                                  funcionais, adequados tanto para condicionamento físico quanto para reabilitação.
                                                                                  Nossa equipe é formada por profissionais altamente capacitadas e experientes, com
                                                                                  formação completa e certificação no Método.
                                                                              </p>
                </div>
            </div>
        </div>
    </div>   
</main>
