@model IEnumerable<GestaoFluxoFinanceiro.Aplicacao.ViewModels.EspecialidadesViewModel>


<div class="album py-5 bg-light">
    <div class="container">
        <vc:Summary></vc:Summary>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Especialidades</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <p supress-by-claim-name="Adm" supress-by-claim-value="Adicionar">
                                    <a class="btn btn-info" asp-action="Create">Nova Especialidade</a>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 feature_col">
                                <table class="table table-hover" id="tbl">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Descricao)
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Descricao)
                                                </td>
                                                <td style="text-align:right">
                                                    <a disable-by-claim-name="Adm" disable-by-claim-value="Excluir" class="btn btn-danger" asp-controller="Especialidade" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a class="btn btn-info" href="@Url.Action("Menu","Home")">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            Paginacao();
        });
    </script>
}

